@media (max-width: 1242px) {
  .contacts {
    margin-top: 8px;
    width: 100%;
    height: 437px;
  }

  .contacts__title {
    margin-top: 17px;
    margin-left: 15px;
    font-size: 25px;
    line-height: 33px;
  }

  .contacts__select-city {
    margin-top: 80px;
    margin-right: 0px;
    align-self: center;
    width: 300px;
    height: 284px;
    display: flex;
    flex-direction: column;
  }

  .contacts__select-city__city {
    margin-left: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    background: #d6e7d2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      cursor: pointer;
      background-color: #c1e698;
      transition: 0.3s;
    }

    &_drop {
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    }

    &__name {
      margin-left: 20px;
      align-self: center;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 0.05em;
      color: $text1-color;
    }

    &__arrow {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      align-self: center;
      margin-right: 25px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .contacts__select-city__drop {
    width: 450px;
    height: 234px;
    background: #dce9d9;
    display: none;

    &_drop {
      display: flex;
      flex-direction: column;
    }
  }

  .contacts__img {
    position: relative;
    width: 100px;
    height: 124px;
    align-self: center;
    margin-left: 13px;
    margin-top: 0px;
  }
}
