@media (max-width: 740px) {
  header {
    width: 100%;
    height: 96px;
  }

  .header-container {
    margin-top: 5px;
    width: 87%;
    height: 24px;
  }

  .logo-container {
    width: 67px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo__text {
    font-size: 16px;
    line-height: 21px;
    color: $links-color;
  }

  .logo-img {
    margin-top: -10px;
    width: 20px;
    height: 20px;
  }

  nav {
    width: 70%;
  }

  .nav__element__href {
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: $links-color;

    &:hover {
      color: $second-color;
    }
  }

  .nav__element__href__active {
    color: $second-color;
  }

  .header-burger {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40px;
    height: 24px;
    border-top: 2px solid #717171;
    border-bottom: 2px solid #717171;
    &__line {
      width: 100%;
      height: 2px;
      background-color: #717171;
      margin-top: 5px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .nav {
    position: fixed;
    margin: 0 0;
    top: 70px;
    right: 0px;
    width: 152px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid $text2-color;
  }

  .nav_hidden {
    right: -200px;
    opacity: 0;
  }
  .nav-cross {
    top: 5px;
    right: 5px;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    &__img {
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: .2s;
      }
      width: 15px;
      height: 15px;
    }
  }
}
