@media (max-width: 740px) {
  .price {
    width: 100%;
    height: 512px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .price-container {
    height: 330px;
    width: 100%;
    margin: 6px 0px 0px;
    display: flex;
    flex-direction: column;
  }

  .price-container-2 {
    height: 150px;
    width: 100%;
    margin: 0px 0px 0px;
    display: flex;
    flex-direction: column;
  }

  .price__title {
    align-self: center;
    margin: 19px 0;
    padding: 0 0;
    width: 62px;
    height: 30px;
    color: $links-color;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }

  .price__about {
    align-self: center;
    width: 230px;
    height: 77px;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin-top: 11px;
    margin-left: 10px;
  }

  .price__button {
    width: 162px;
    height: 50px;
    margin-right: -13px;
    margin-top: 13px;
    font-family: "Inika";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #e06733;
    align-self: center;

    &:hover {
      color: $links-color;
      transition: 0.35s;
    }
  }

  .price__img {
    display: none;
    width: 152px;
    height: 174px;
    object-fit: contain;
    margin-top: 30px;
    align-self: flex-end;
  }

  .price__items-container {
    align-self: center;
    margin-left: 20px;
    margin-top: 17px;
    width: 224px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #e3e1d5;
  }

  .price__items-container_opened {
    height: 370px !important;
    margin-top: -10px !important;
  }

  .price__items {
    width: 180px;
    height: 50px;
    background: #edf2ec;
    border-radius: 20px;
    margin-top: 14px;
    align-self: center;
    display: flex;
    flex-direction: column;

    &:hover {
      cursor: pointer;
      background-color: #d6e7d2;
      transition: 0.3s;
    }
  }
  #itmBasic {
    margin-top: 0px;
  }
  .price__items-2 {
    width: 180px;
    height: 50px;
    background: #edf2ec;
    border-radius: 20px;
    margin-top: 14px;
    align-self: center;
    display: flex;
    flex-direction: column;

    &:hover {
      cursor: pointer;
      background-color: #d6e7d2;
      transition: 0.3s;
    }
  }

  .price__items__opened {
    height: 154px !important;
    background-color: $opened;
  }

  .price__items__item {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .price__items__item__txt {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: $links-color;
    margin-left: 30px;
  }

  .price__items__item__arrow {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  // Order menu
  .order-container__show {
    display: flex !important;
    flex-direction: column;
  }

  .order-container {
    height: 170px;
    width: 164px;
    align-self: center;
    border-top: 1px solid #aea1a1;
    margin-top: 10px;
    margin-bottom: 12px;
    display: none;
  }

  .order-container__txt {
    margin-top: 6px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
  }

  .order-container__price {
    margin-top: 6px;
    width: 123px;
    height: 17px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: black;
  }

  .order-container__btn {
    margin-top: 12px;
    width: 86px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
  }
}
