.contacts {
  margin-top: 8px;
  width: 100%;
  height: 542px;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  padding: 0 0;
  margin-top: 60px;
  align-self: center;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: $primary-color;
}

.contacts__select-city {
  margin-top: 30px;
  margin-right: 109px;
  align-self: flex-end;
  width: 450px;
  height: 284px;
  display: flex;
  flex-direction: column;
}

.contacts__select-city__city {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
  height: 50px;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    cursor: pointer;
    background-color: #c1e698;
    transition: 0.3s;
  }

  &_drop {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  }

  &__name {
    margin-left: 20px;
    align-self: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: $text1-color;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    align-self: center;
    margin-right: 35px;

    &:hover {
      cursor: pointer;
    }
  }
}

.contacts__select-city__drop {
  width: 450px;
  height: 234px;
  background: #dce9d9;
  display: none;

  &_drop {
    display: flex;
    flex-direction: column;
    justify-content:  center;
  }
  &__items {
    margin-bottom: 12px;
    width: 84%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #d9d9d9;
    color: #499a18;

    &:hover {
      cursor: pointer;
      color: #717171;
      border-bottom: 1px solid #717171;
    }

    &_active {
      color: #717171;
      border-bottom: 1px solid #717171;
    }
  }
}

.contacts__img {
  position: absolute;
  width: 400px;
  height: 496px;
  margin-left: 109px;
  margin-top: 45px;
}
