header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 134px;
  background-color: $bg-color;
}

.header-container {
  width: 86%;
  height: 50px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 67px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo__text {
  @extend %inika-shared;
  font-family: "Inika";
  font-size: 16px;
  line-height: 21px;
  color: $links-color;
}

.logo-img {
  width: 20px;
  height: 20px;
}

nav {
  width: 38%;
}

.nav {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__element__href {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: $links-color;
  &:hover {
    color: $second-color;
  }
}

.nav__element__href__active {
  color: $second-color;
}
