.service {
  width: 100%;
  height: 1300px;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
}

.service__content {
  width: 1000px;
  height: 94px;
  margin-top: 40px;
  margin-left: 109px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service__content__title {
  width: 306px;
}

.service__content__btns {
  width: 560px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: -8px;
  margin-top: 10px;
}

.service__content__btns_active {
  background-color: $second-color;
}

.services {
  margin-top: 90px;
  align-self: center;
  display: grid;
  gap: 55px 117px;
  grid-template-columns: repeat(3, 330px);
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 450px;
}

.services__item__img {
  width: 329px;
  height: 350px;
  object-fit: cover;
  transition: .35s;
}

.services__item__title {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $second-color;
}

.services__item__description {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text1-color;
}
