$primary-color: #499a18;
$second-color: #e06733;
$text1-color: #717171;
$text2-color: #636060;
$links-color: #010201;
$bg-color: #edf2ec;
$opened: #D6E7D2;

%inika-shared {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  color: $text1-color;
}

%inter-shared {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: $text1-color;
}

%roboto-shared {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #010201;
}

@font-face {
  font-family: 'Inika';
  src: url(../assets/fonts/Inika-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter-Regular.ttf);
}