@media (max-width: 1242px) {

  .contacts {
    margin-top: 8px;
    width: 100%;
    height: 734px;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
  }

  .contacts__title {
    margin-top: 33px;
  }

  .contacts__select-city {
    margin-top: 96px;
    margin-right: 0px;
    align-self: center;
    width: 450px;
    height: 284px;
    display: flex;
    flex-direction: column;
  }

  .contacts__select-city__city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      cursor: pointer;
      background-color: #C1E698;
      ;
      transition: .3s;
    }

    &_drop {
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    }

    &__name {
      margin-left: 20px;
      align-self: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 0.05em;
      color: $text1-color;
    }

    &__arrow {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      align-self: center;
      margin-right: 35px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .contacts__select-city__drop {
    width: 450px;
    height: 234px;
    background: #DCE9D9;
    display: none;

    &_drop {
      display: flex;
      flex-direction: column;
    }
  }

  .contacts__img {
    position: relative;
    width: 200px;
    height: 248px;
    align-self: center;
    margin-left: 16px;
    margin-top: 20px;
  }

}