@media (max-width: 1242px) {
  footer {
    width: 100%;
    align-items: flex-start;
  }

  .footer__container {
    margin-top: 25px;
    margin-left: 17px;
    width: 85%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 50px;
      color: #000000;
    }
  }

  .footer__git {
    margin-top: -10px;
    align-self: center;
    width: 182px;
    height: 50px;
    display: flex;
    flex-direction: row;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;

    &__year {
      margin-left: 20px;
    }

    &__href {
      margin-left: 20px;
    }
  }

  .footer__social {
    margin-left: -11px;
    margin-top: 10px;
    justify-self: center;
    width: 188px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__rs {
    margin-left: -16px;
    margin-top: -8px;
  }
}