@media (max-width: 1242px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 117px;
    background-color: $bg-color;
  }

  .header-container {
    margin-top: 5px;
    width: 87%;
    height: 47px;
  }

  .logo-container {
    width: 67px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo__text {
    font-size: 16px;
    line-height: 21px;
    color: $links-color;
  }

  .logo-img {
    margin-top: -10px;
    width: 20px;
    height: 20px;
  }

  nav {
    width: 70%;
  }

  .nav {
    margin-left: 15px;
    width: 452px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__element__href {
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: $links-color;

    &:hover {
      color: $second-color;
    }
  }

  .nav__element__href__active {
    color: $second-color;
  }

}