@media (max-width: 1242px) {
  .service {
    width: 100%;
    height: 1780px;
  }

  .service__content {
    width: 100%;
    height: 185px;
    margin-top: 60px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
  }

  .service__content__title {
    width: 306px;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
  }

  .service__content__btns {
    width: 560px;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -8px;
    margin-top: 44px;
  }

  .service__content__btns_active {
    background-color: $second-color;
  }

  .services {
    margin-top: 40px;
    margin-left: 50px;
    align-self: flex-start;
    display: grid;
    gap: 37px 106px;
    grid-template-columns: repeat(2, 281px);
  }

  .services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 281px;
    height: 450px;
  }

  .services__item__img {
    width: 281px;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: inherit;
    transition: .35s;
  }

  .services__item__title {
    margin-top: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: $second-color;
  }

  .services__item__description {
    width: 201px;
    margin-top: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $text1-color;
    text-align: center;
  }

}